.input_style {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
    width:100%;
    border:1px solid var(--background-color);
    outline: none;
}
::placeholder {
    color: var(--background-color);
  }
  .error{
    color:red;
    font-size:0.8rem;
  }
  .visiblity{
    visibility: visible;
  }
  .hidden{
    visibility: hidden;
  }