.input_style {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
    width:100%;
    border:1px solid #a1d1ec;
    outline: none;
}
::placeholder {
    color: #a1d1ec;
  }
  .error{
    color:red;
    font-size:0.8rem;
  }
  .visiblity{
    visibility: visible;
  }
  .hidden{
    visibility: hidden;
  }