.login_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--primary-color), var(--background-color));
}

.login_div {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 10px;
}

.input_div {
    width: 70%;
}

.password_style {
    position: relative;
    left: 32%;
    bottom: 12%;
}
.passwords_style{
    position: relative;
    left: 32%;
    bottom: 8%;
}